/* custom css for tooltip effect */
.tooltip{
    position: relative;
}
.tooltip-text{
    visibility: hidden;
    background: #4b5563;
    color: white;
    padding: 2px 8px;
    font-size: 15px;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s;
}
.tooltip:hover .tooltip-text{
    visibility: visible;
    opacity: 1;
}

.dark{
    background-color: black !important;
    color: white !important;
}
.light{
    background-color: white !important;
    color: black !important;
}
.default-link {
  position: relative;
  padding-bottom: 4px;
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

.default-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: white;
  transition: width 0.3s ease;
}

.default-link:hover::after {
  width: 100%;
}

.active-link {
  position: relative;
  font-weight: bold;
  color: #ffffff !important;
}

.active-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: white;
}
